* {
	margin: 0;
	padding: 0;
}

body {
	margin: 50px;
	font-size: 15px;
	font-family: 'Spartan', sans-serif;
}

:root{
	--magenta: hsl(300, 43%, 22%);
	--pink: hsl(333, 80%, 67%);
	--dark-magenta: hsl(303, 10%, 53%);
	--light-magenta: hsl(300, 24%, 96%);
	--white: hsl(0, 0%, 100%);
}

.top {
	position: absolute;
	z-index: -99999;
	top: 0;
	left: 0;
}

.bottom {
	width: 100%;
	position: absolute;
	z-index: -99999;
	bottom: 0;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.box1 {
	width: 50%;
	margin-bottom: 50px;
}

.box1 .title {
	color: var(--magenta);
	font-size: 40px;
	font-weight: 700;
	width: 400px;
	padding: 10px 0;
}

.box1 .text {
	color: var(--dark-magenta);
	font-weight: 500;
}

.box2 {
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 50px;
}

.box2 div {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 12px;
	background-color: var(--light-magenta);
	color: var(--magenta);
	padding: 9px;
	border-radius: 4px;
	/*width: 400px;*/
}

.box2 div p {
	margin-left: 20px;
}

.box2 div img {
	margin: 0 2px;
}


.box2 .rodilla {
	position: relative;
	left: 37px;		
}

.box2 .hombros {
	position: relative;
	left: 73px;
}


.cont-box-c {
	color: hsl(0, 0%, 100%);
	display: inline-flex;
	direction: row;
	grid-gap: 10px;
	font-weight: 400;
}

.cont-box-c img {
	border-radius: 100%;
	width: 50px;
	float: left;
	padding: 15px;
}

div [class^=box-c] {
	background-color: var(--magenta);
	border-radius: 4px;
	padding: 20px;
	font-weight: 400;
	font-size: 15px;
}

.perfil {
	color: hsl(333, 80%, 67%);
}

.p1 {
	font-weight: 700;
	margin-top: 20px;
}

.box-c2 {
	position: relative;
	top: 20px;
}

.box-c3 {
	position: relative;
	top: 40px;

}





@media (max-width: 565px) {

.content {
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.box1 {
	text-align: center;
	width: 100%;
}

.box2 {
	width: 100%;
}

.box2 div {
	width: 100%;
}

.box2 .hombros {
	position: static;
}
.box2 .rodilla {
	position: static;
}


.cont-box-c {
	background-color: grey;
	flex-direction: column;
}
}